body {
    font-family: 'Roboto';
    text-align: center;
}

h1 {
    font-size: 50px;
    margin: 10px;
}

.letter {
    background-color: #0e9624;
    color: white;
    width: 40px;
    height: 40px;
    border: 1px solid;
    border-radius: 3px;
    border-color: white;
    box-shadow: none;
}

.letter:disabled {
    background-color: gray;
}

.wordLtr {
    background-color: #3154d4;
    color: #3154d4;
    display: inline-flex;
    margin: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

#hangman {
    height: 300px;
}

#message {
    font-size: 30px;
}

#newWordBtn {
    width: 100px;
    height: 40px;
}
